// GALLERY //
.gallery {
  display: flex;
  &__item {
  }

  // GALLERY PHOTO //
  &__photo {
    display: block;
    width: 100%;
  }
}

// HOTEL OVERVIEW //
.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--clr-grey-light-2);

  &__heading {
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__stars {
    display: flex;
    margin-right: auto;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--clr-primary);
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-left: 3rem;
    padding: 0 2.25rem;
    background-color: var(--clr-primary);
    color: var(--clr-white);
  }

  &__rating-average {
    margin-bottom: -3px;
    font-size: 2.25rem;
    font-weight: 300;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

// BUTTON INLINE //
.btn-inline {
  display: inline-block;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  color: var(--clr-primary);
  font-size: inherit;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    color: var(--clr-grey-dark-1);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
